body {
    background-color: powderblue;
}

.texts {
    width: 100%;
    padding: 6px 30px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.block {
    display: block;
    width: 10%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 7px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

    .block:hover {
        background-color: #45a049;
    }
