
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
    <link href="~/Css/Style.css" rel="stylesheet" />
</head>
<body>
    <div align="center"> 
        <br /><br />
        <h1>Welcome</h1>
    </div>
</body>
</html>
